* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

*:focus {
  outline: none;
}

body {
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  background: #000a12;
}
header .header-box {
  display: flex;
  height: 65px;
  align-items: center;
}
header .header-box h1 {
  padding-right: 6rem;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  color: #ffffff;
}
header .header-box div a {
  color: #ffffff;
}
header .header-box .buscador input {
  padding: 1rem;
  width: 61rem;
  background: #263238;
}
header .header-box .ingresa {
  font-size: 1.4rem;
  width: 13rem;
  text-align: center;
}
header .header-box .icon {
  font-size: 1.4rem;
  width: 13rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background: #f9fdff;
  box-shadow: 0px 0px 2px gray;
}
nav .nav-box {
  display: flex;
  width: 63%;
  margin: 0 auto;
  height: 53px;
  align-items: center;
}
nav .nav-box div {
  padding: 18px 25px 18px 25px;
}
nav .nav-box div a {
  font-size: 15px;
  color: #000a12;
}
nav .nav-box :hover {
  cursor: pointer;
}

.allall {
  margin: 0 auto;
  width: 67%;
  background: #fff;
}
.allall .biggest-picture img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.allall .mujer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  margin-left: 70px;
  background: #fff;
}
.allall .mujer-container .mujer {
  width: 80rem;
}
.allall .mujer-container .mujer h4 {
  font-size: 3rem;
  width: 85rem;
  padding-right: 2rem;
  padding-bottom: 30px;
  border-bottom: 1px solid #3c3c3c;
}
.allall .mujer-container .botonmujer {
  font-size: 1.4rem;
  border: 2px solid #896cff;
  padding: 8px 50px 8px 50px;
  margin-top: 30px;
  margin-left: 100px;
}
.allall .picturebox {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 100px;
}
.allall .picturebox .big-picture {
  width: 540px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 80px;
  margin-right: 40px;
}
.allall .picturebox .big-picture img {
  width: 100%;
}
.allall .picturebox .big-picture .tituloo {
  padding-left: 2rem;
  padding-top: 2.5rem;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.allall .picturebox .big-picture .frasee {
  font-size: 16px;
  padding: 2rem;
  color: #7f898e;
}
.allall .picturebox .big-picture .botonn {
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid #896cff;
}
.allall .picturebox .picture {
  border: 1px solid black;
  border-radius: 5px;
  width: 255px;
  margin-right: 40px;
}
.allall .picturebox .picture img {
  width: 100%;
}
.allall .picturebox .picture .tituloo {
  padding-left: 2rem;
  padding-top: 2.5rem;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.allall .picturebox .picture .frasee {
  font-size: 16px;
  padding: 2rem;
  color: #7f898e;
}
.allall .picturebox .picture .botonn {
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid #896cff;
}
.allall .hombre-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  margin-left: 70px;
  background: #fff;
}
.allall .hombre-container .hombre {
  width: 80rem;
}
.allall .hombre-container .hombre h4 {
  font-size: 3rem;
  width: 85rem;
  padding-right: 2rem;
  padding-bottom: 30px;
  border-bottom: 1px solid #3c3c3c;
}
.allall .hombre-container .botonhombre {
  font-size: 1.4rem;
  border: 2px solid #896cff;
  padding: 8px 50px 8px 50px;
  margin-top: 30px;
  margin-left: 100px;
}

/*# sourceMappingURL=styles.css.map */
